$text-color: #222330;
$bg-color: #f1f1f1;
$link-color: #0077ff;
$light-color: #f1f1f1;
$dark-color: darken($light-color, 0%);

$danger: #ed4f32;

$input-text-color: inherit;
$input-bg-color: $bg-color;
$input-border-color: darken($light-color, 10%);
$input-border-color-hover: darken($input-border-color, 10%);
$input-border-width: 2px;
$input-border-radius: 4px;
